<a href="https://colab.research.google.com/github/harimachavarapu/deep-learning-project/blob/main/pythonlearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str = ['abcf', 'ace', 'ee', 'r']
print(sorted(str,key = len))

['r', 'ee', 'ace', 'abcf']

In [ ]:
def hl(c):
  return c[-1]

hl(str)

'r'

In [ ]:
hari = ('hari', 'giri', 'seeta', 888)
krishna = (1,1,2,23,3,4)
print(hari)
print(krishna)

('hari', 'giri', 'seeta', 888)
(1, 1, 2, 23, 3, 4)

In [ ]:
id(hari)
id(krishna)

140451120407056

In [ ]:
type(hari)

tuple

In [ ]:
hari = ('ja', )
hari

('ja',)

In [ ]:
hari = ("gkhjk","gfyt","guyg","ghjgg",77)
print(hari[0])

gkhjk

In [ ]:
jj = (1,3,4,5,6,7,7,8,9,9)
print(jj[1:9])

(3, 4, 5, 6, 7, 7, 8, 9)

In [ ]:
gg = hari + jj 
print(gg)

('gkhjk', 'gfyt', 'guyg', 'ghjgg', 77, 1, 3, 4, 5, 6, 7, 7, 8, 9, 9)

In [ ]:
hk = set(['ab','bc','cd'])
print('hk')
print(hk)

hk
{'cd', 'bc', 'ab'}

In [1]:
hk.add('dc')
print(hk)

NameError: ignored

SET OPERATIONS

In [2]:
set1 = set()
set2 = set()

In [3]:
print(set1,set2)

set() set()

In [4]:
for i in range(1,10):
  set1.add(i)

In [5]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
for k in range(0,3):
  set2.add(k)

In [9]:
print(set2)

{0, 1, 2}

union

In [10]:
set3 = set1|set2
print('union of set1 & set2 : set3 = ',set3)

union of set1 & set2 : set3 =  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
if set3>set2:
  print('hari')
else:
  print('puku')

hari

In [21]:
name = (input('enter name :'))
age  = int(input('enter age :'))

if age<19:
  print('hai',name)
elif age>19 and age>20:
  print('fuck',name)  
else:
  print('keerthi',name)

enter name :23
enter age :3
hai 23

In [1]:
friends = ['hsaj','skajs','sasad','dasd']
for friends in friends:
  print('good friends:',friends)

good friends: hsaj
good friends: skajs
good friends: sasad
good friends: dasd

In [4]:
range(1, 19, 1)

range(1, 19)

In [8]:
for hari in range(1,30,15):
  print(hari)

1
16

factorial program

In [19]:
num = int(input('enter number = '))
factorial = 1
if num < 0:
  print('not defined')
elif num == 0:
  print('value is 1')
else:
  for i in range(1,num + 1):
    factorial = factorial * i
  print("factorial =", factorial)

enter number =4
factorial = 24

pass

In [21]:
name = ['sasad','dadasd','adasd','daasd']
for i in name:
  pass
  print(i)

sasad
dadasd
adasd
daasd

In [32]:
name = ['asdsa','sdqd','dewd','fdwedw','fewdew']
for i in name:
 if len(i) == 3:
    continue
    print(f'my name is {i}')